<h1>Products</h1> 
    <%= link_to 'New Product', new_product_path, class: 'btn btn-primary mb-3' if authenticated?%>
<div class="products-grid">
  <% @products.each do |product| %>
    <div class="product-card">
      <% if product.featured_image.attached? %>
        <%= image_tag product.featured_image.variant(resize_to_limit: [400, 250]), class: "product-image" %>
      <% else %>
        <div class="product-image-placeholder">No Image</div>
      <% end %>
      <div class="product-card-body">
        <h3 class="product-title"><%= product.name %></h3>
        <p class="product-description"><%= product.description %></p>
        <p class="product-price"><%= number_to_currency(product.price) %></p>
        <div class="product-actions">
           <%= link_to "Show", product_path(product), method: :get ,class:"btn btn-info"%>
        </div>
      </div>
    </div>
  <% end %>
</div>