<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecomerse Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <%= link_to "Ecomerse", root_path, class: "navbar-brand fw-bold text-primary" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if authenticated? %>
              <li class="nav-item">
                <%= link_to "Dashboard", products_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item me-2">
              <% if authenticated? %>
                <%= button_to "Log out", session_path, method: :delete, class: "btn btn-outline-danger btn-sm" %>
              <% else %>
                <%= link_to "Log in", new_session_path, class: "btn btn-outline-primary btn-sm" %>
              <% end %>
            </li>
          </ul>
         <div  data-controller="dashboard">
            <form class="d-flex ms-3" action="#"  method="get">
            <input class="form-control form-control-sm me-2" data-dashboard-target="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-sm" data-action="click->dashboard#Search" type="submit">Search</button>
          </form>
         </div>
          
        </div>
      </div>
    </nav>
     <%= render 'shared/flash' %>
  
    <!-- Main Content -->
    <main class="flex-grow-1 py-4">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center text-muted py-3 mt-auto border-top">
      <div class="container">
        <small>© <%= Time.current.year %> Ecomerse Website. All rights reserved.</small>
      </div>
    </footer>

  </body>
</html>
